:root {
    --bg-color: #000;
    --clr: white;
}

.light-mode {
    --bg-color: #000;
    --clr: white;
}

.light-mode .text,
.light-mode .link span,
.light-mode .file-input-wrapper span {
    background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.main {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    background: var(--bg-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: auto;
}

.canvas {
    border: 2px solid var(--clr);
    width: 500px;
    height: 500px;
}

@font-face {
    font-family: 'MyFont';
    src: url('./Minecraft.ttf');
}


.link {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-top: 5px;
    padding: 10px 20px;
    border: 1px solid var(--bg-color);
    background-color: var(--clr);
    color: var(--bg-color);
    text-decoration: none;
    font-family: 'MyFont', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.link:hover {
    border-color: var(--clr);
    background-color: var(--bg-color);
    color: var(--clr);
}



.button-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

}

.file-input-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-top: 5px;
    border: 1px solid var(--bg-color);
    background-color: var(--clr);
    color: var(--bg-color);
    text-decoration: none;
    font-family: 'MyFont', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.file-input-wrapper:hover {
    border-color: var(--clr);
    background-color: #000000;
    color: var(--clr);
}

.text {
    color: var(--clr);
    font-family: 'MyFont', sans-serif;
}

.download-icon {
    color: var(--bg-color);
}

.link:hover .download-icon {
    color: var(--clr);
}

.upload-icon {
    color: var(--bg-color);
}

.file-input-wrapper:hover .upload-icon {
    color: var(--clr);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--clr);
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--bg-color);
    transition: 0.4s;
}

input:checked+.slider {
    background-color: gray;
}

input:checked+.slider:before {
    transform: translateX(26px);
}